[Unit]
Description=irlss docker services
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory=/opt/irlss/docker
Environment=
ExecStart=docker compose up -d
ExecStop=docker compose down
StandardOutput=syslog
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
